.container {
  height: 600px;
  width: 400px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.item_green {
  background-color: #51d400;
  flex-grow: 1
}

.item_yellow {
  background-color: #b02aff;
  flex-grow: 1
}

.item_purple {
  background-color: #ffd62a;
  flex-grow: 2
}
