* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

#wordnik-results {
	overflow: auto;
	padding: 1rem;
	height: calc( 100vh - 4rem );
}

#wordnik-results a {
	display: inline-block;
	margin: 0.2rem;
	text-decoration: none;
	background: tomato;
	border-radius: 3px;
	color: #fff;
	padding: 0.2rem 0.5rem;
}

#wordnik-results h3 {
	margin-top: 1rem;
}

#wordnik-results h3:first-child {
	margin-top: 0;
}

#image-wrapper {
	padding: 1rem;
	overflow: auto;
	height: calc( 100vh - 4rem );
}

nav {
	background: navy;
	padding: 1rem;
	color: #fff;
	height: 4rem;
}

input, button {
	padding: 0.5rem;
}

input[type=checkbox] {
	position: relative;
	top: 1px;
}

button {
	margin-right: 2rem;
}

main {
	display: flex;
}

article {
	flex: 0 0 50%;
}

img {
	margin: 0.5rem;
}
