* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

main {
  width: 800px;
  height: 480px;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 3px 3px 10px grey;
  margin-top: 60px;
}

/*playlist styling*/

.container {
  width: 800px;
  height: 420px;
  display: flex;
}

.playlistHeader {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.visual {
  width: 160px;
  height: 160px;
}

.logo {
  margin: 20px;
}

.titleArea {
  display: flex;
  width: 210px;
  justify-content: space-between;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.addPlaylist {
  font-size: 60px;
  position: relative;
  top: 3px;
  right: 10px;
  line-height: 20px;
}

.listOfPlaylists p {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

/*tracklist styling*/

.tracks {
  border-left: 2px solid #c1c1c1;
}

.tracksHeader {
  width: 390px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.trackInfo {
  font-weight: bold;
  font-size: 20px;
}

.publisher {
  color: #c1c1c1;
  font-size: 14px;
  line-height: 30px;
}

.addButtons {
  width: 50px;
  display: flex;
  justify-content: space-around;
}

.addTrack {
  color: #a1a1a1;
  font-size: 50px;
  position: relative;
  right: 10px;
  line-height: 20px;
}

.listOfTracks {
  width: 420px;
  height: 340px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.listOfTracks p {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.dark {
  background-color: #EAEAEA;
}

/*track controller styling*/

.trackController {
  width: 800px;
  height: 60px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.trackController img {
  height: 15px;
  margin: 0 20px;
}

.trackController audio {
  width: 450px;
}
