* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background: linear-gradient( 90deg, #a1a1a1,  #b1b1b1, #f1f1f1, #b1b1b1, #a1a1a1 );
  display: flex;
  justify-content: center;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main_image {
  max-width: 90%;
  height: 400px;
  box-shadow: 3px 3px 10px grey;
}

.leftarrow {
  position: inherit;
  width: 80px;
  left: 0;
  font-size: 32px;
  font-family: 'Baloo', cursive;
  color: grey;
  border: none;
  box-shadow: 3px 3px 10px grey;
}

.rightarrow {
  position: inherit;
  width: 80px;
  right: 0;
  font-size: 32px;
  font-family: 'Baloo', cursive;
  color: grey;
  border: none;
  box-shadow: 3px 3px 10px grey;
}

.description {
  position: fixed;
}

.thumbnails {
  width: 700px;
  height: 100px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}
