* {
  margin: 0px;
  padding: 0px;
}


.container {
  width: 800px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 230px;
  height: 65px;
  margin: 3px;
  box-shadow: 0 0 5px #c2d1d9;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;
}

#button1 {
  color: rgb(102, 102, 102);
  border: 2px solid #d4d4d4;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(225,225,225,1) 100%);
}

#button2 {
  color: rgb(251, 251, 251);
  border: 2px solid #007997;
  background: linear-gradient(to bottom, rgba(0,181,229,1) 100%,rgba(0,140,178,1) 100%);
  text-shadow: 0 -1px 5px rgb(102, 102, 102);
}

#button3 {
  color: rgb(251, 251, 251);
  border: 2px solid #5a8200;
  background: linear-gradient(to bottom, rgba(143,207,0,1) 100%,rgba(107,156,0,1) 100%);
  text-shadow: 0 -1px 5px rgb(102, 102, 102);
}

.button:hover {
  cursor: pointer;
}
