body {
  background-color: tomato;
}

.container {
  margin: 50px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.floors {
  position: absolute;
  top: 0;
  right: 50px;
}

.floors div {
  width: 150px;
  height: 30px;
  margin: 4px;
  border: 2px solid black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 2s;
}

.people {
  position: absolute;
  top: 0;
  right: 150px;
}

.people div {
  width: 50px;
  height: 32px;
  margin: 4px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 3px;
  margin: 3px;
  padding: 2px;
  background-color: white;
}

button:active {
  background-color: aqua;
}
