.container {
  height: 290px;
  width: 680px;
  background-color: #f2f2f2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.container div {
  height: 190px;
  width: 190px;
}

.item_green {
  background-color: #51d400;
}

.item_yellow {
  background-color: #ffd62a;
}

.item_purple {
  background-color: #b02aff;
}
